// Here you can add other styles


  @media (min-width: 1200px) {
    .cv_brand_logo {
      width: 80px;
    }
  }

  @media (max-width: 1199px) {
    .cv_brand_logo {
      width: 60px;
    }
  }

  @media (max-width: 768px) {
    .cv_brand_logo {
      width: 50px;
    }
  }

  @media (max-width: 500px) {
    .cv_brand_logo {
      width: 40px;
    }
  }




.header_brand_logo {
  margin-right: auto !important;
}


//----------------Login -------------//

